{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
     <div class="features">
        <h1>Про нас</h1>
        <p>Сайт, или веб-сайт (от англ. website: web — «паутина, сеть» и site — «место», букв. — «место, сегмент, часть в сети»), также веб-узел, — одна или несколько логически связанных между собой веб-страниц; также место расположения контента сервера. Обычно сайт в Интернете представляет собой массив связанных данных, имеющий уникальный адрес и воспринимаемый пользователями как единое целое. Веб-сайты называются так, потому что доступ к ним происходит по протоколу</p>
        <button class="btn btn-danger">Нажми на кнопку</button>
    </div>
{% endblock %}
